.container {
  display: flex;
}
.img {
  width: 900px;
  height: 500px;
}
canvas {
  width: 900px;
  height: 500px;
  position: absolute;
}

.container {
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 300;
}

.friendInput {
  position: absolute;
  padding: 10px;
  font-weight: bold;
  border: none;
}

.friends {
  font-size: 20px;
  margin-bottom: 20px;
}

.name {
  font-weight: bold;
}

.rightBtn {
  padding: 10px 20px;
  font-weight: bold;
}
